// color
$white:#fff;
$black:#000;
$off-white:#f7f7f7;
$ornage:#ff9000;
$dark-gray:#323232;
// fonts
$MaisBold: 'HarabaraMaisBold';
$lato-light:'Lato',
sans-serif;
$roboto:'Roboto',
sans-serif;
// media-query
$desktop: screen and (min-width:1400px);
$ipad: screen and (min-device-width: 768px) and (max-device-width: 1024px);
$small: screen and (max-width:767px);
// include font
@font-face {
    font-family: 'HarabaraMaisBold';
    src: url('../fonts/HarabaraMaisBold-HarabaraMaisBold.ttf');
}

body {
    margin: 0;
    font-family: $MaisBold;
}

a {
    text-decoration: none !important;
    :hover {
        text-decoration: none !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.over-lay {
    background: rgba(0, 0, 0, 0.69);
}

#wrapper {
    overflow: hidden;
}

header {
    background: $white;
    .logo {
        max-width: 150px;
    }
    .logo:after {
        position: absolute;
        content: '';
        bottom: 4px;
        left: 0;
        height: 1px;
        width: 300px;
        background: $black;
    }
    .border-bottom {
        border-color: $black !important;
    }
    a {
        color: $black;
        font-size: 14px;
        border-bottom: 2px solid transparent;
    }
    a:hover {
        color: $black !important;
    }
}

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: $black;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
    right: 0;
}

.navbar {
    transition: 1.5s;
}

.fixed-me {
    background-color: $white;
    padding-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100%;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
    transition: all 1.5s;
}

.color-toggle {
    background-color:$white;
}

.transparent-toggle {
    background-color: transparent;
}

.fa-microsoft {
    color: $black;
    font-size: 34px
}

button:focus {
    outline: 0 !important;
    outline: 0px dotted !important;
}

#banner {
    height: 100vh;
    .banner-logo {
        z-index: 999;
        .holder {
            border: 1px solid $white;
            border-radius: 50%;
        }
        .holder-1 {
            background: $white;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            ;
        }
        .holder-2 {
            max-width: 150px;
            margin: 0 auto;
        }
    }
    .color-section {
        background: $ornage;
        color: #fff;
        font-family: $MaisBold;
    }
    .img-section {
        background-image: url(../images/banner-bg-image.png);
        background-size: cover;
        background-position: center;
    }
    img {
        width: 100%;
        height: auto;
    }
    .carousel-fade {
        .carousel-item {
            opacity: 0;
            transition: opacity .75s ease-in-out;
            &.active {
                opacity: 1;
            }
        }
    }
}

#intro {
    padding: 150px 0 0;
    background: url(../images/bg-intro.png) no-repeat 0 30%;
    h4 {
        font-size: 45px;
        text-transform: capitalize;
    }
    p {
        font-size: 18px;
        font-family: $lato-light;
        font-weight: 300;
    }
    .about {
        padding: 200px 0 0;
    }
    .introduction {
        span {
            font-size: 45px;
            color: #acacac;
        }
        .title {
            font-size: 70px;
            color: #323232;
            line-height: 1;
        }
        .short-detail {
            font-family: $lato-light;
            font-style: italic;
            font-weight: 300;
            color: $ornage;
            font-size: 24px;
        }
        .detail {
            font-size: 17px;
            font-weight: 300;
            word-break: break-all;
        }
        .view-project {
            border: 1px solid $ornage;
            border-radius: 40px;
            color: $ornage;
            transition: 1s;
        }
        .view-project:hover {
            background: $ornage;
            color: $white;
            transition: 1s
        }
    }
    .fix-width {
        height: 1000px;
        .about-image-1 {
            background: url(../images/about-image-1.png) no-repeat 0% 0%;
            background-size: 500px;
        }
        .about-image-2 {
            background: url(../images/about-image-2.png) no-repeat 0% 70%;
            background-size: 400px;
        }
        .transparent-color {
            background-color: #ff9000;
            height: 550px;
            width: 550px;
            right: -90px;
            top: 20%;
            border-radius: 50%;
            opacity: .9;
        }
    }
}

#marketing {
    background: url(../images/bubble-main.png) no-repeat 0 0;
    padding: 150px 0 50px;
    .heading {
        span {
            font-size: 40px;
            color: $ornage;
        }
        h3 {
            font-size: 80px;
            color: $dark-gray;
            border-bottom: 3px solid #929292;
        }
        p {
            font-size: 22px;
            font-family: $lato-light;
            font-weight: 300;
        }
    }
    .marketing-1 {
        img {
            border-radius: 0 300px 300px 0;
            height: 400px;
            width: 100%;
        }
    }
    .over-lay {
        border-radius: 0 300px 300px 0;
        top: 0;
        height: 400px;
        .detail {
            padding: 0 100px;
        }
        span {
            font-size: 30px;
            color: $white;
            line-height: 1;
        }
        h3 {
            font-size: 60px;
            color: $white;
            border-bottom: 4px solid $ornage;
        }
        p {
            font-size: 24px;
            color: $ornage;
            font-family: $lato-light;
            font-weight: 300;
        }
        .long-detail {
            font-size: 12px;
            color: $white;
        }
        :before {
            position: absolute;
            top: -30px;
            content: '1';
            background: $ornage;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            text-align: center;
            z-index: 999;
            font-size: 23px;
            color: $white;
            font-family: $MaisBold;
            padding: 10px 0 0;
        }
    }
    .marketing-2 {
        img {
            border-radius: 300px 0 0 300px;
            height: 400px;
            width: 100%;
        }
        .over-lay {
            border-radius: 300px 0 0 300px;
            top: 0;
            ::before {
                right: 10%;
                content: '2';
            }
        }
    }
    .marketing-3 {
        img {
            border-radius: 0 300px 300px 0;
            height: 400px;
            width: 100%;
        }
        .over-lay {
            ::before {
                content: '3';
            }
        }
    }
}

#testimonial {
    .heading {
        span {
            font-size: 45px;
            color: #acacac;
            border-bottom: 2px solid $ornage;
        }
        h3 {
            font-size: 80px;
            color: $dark-gray;
        }
    }
    .carousel {
        padding: 50px 0 90px;
    }
    .carousel-indicators .active {
        background-color: $ornage !important;
    }
    .carousel-indicators {
        li {
            background-color: #999999 !important;
        }
    }
    .avatar {
        img {
            border: 22px solid #ffd399;
            border-radius: 50%;
        }
    }
    p {
        font-size: 15px;
        font-family: $lato-light;
        font-weight: 300;
        color: $dark-gray;
    }
    .designation {
        h4 {
            font-size: 26px;
            color: $ornage;
            margin: 0;
        }
        span {
            font-size: 18px;
            color: #737373;
            font-family: $lato-light;
            font-weight: 300;
        }
    }
}

#blog {
    background-color: $off-white;
    padding: 150px 0 50px;
    .image {
        max-width: 250px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .blog-text {
        background-color: $white;
        font-family: $lato-light;
        h6 {
            font-size: 16px;
            font-weight: 700;
        }
        span {
            font-size: 14px;
            color: #8b8a8a;
            .comment {
                color: $ornage;
            }
        }
        p {
            font-size: 14px;
        }
        .arrow {
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            background: $white;
            padding: 10px 20px;
            font-size: 30px;
            left: -32px;
            color: $ornage;
        }
        .arrow:hover {
            background: $ornage;
            color: $white;
        }
    }
}

footer {
    padding: 10rem 0 0;
    .title {
        h4 {
            color: $ornage;
            font-size: 50px;
        }
        h1 {
            color: $dark-gray;
            font-size: 75px;
        }
        span {
            color: $dark-gray;
            font-size: 28px;
        }
    }
    .form {
        background: $ornage;
        border-radius: 50%;
        width: 700px !important;
        height: 700px;
        display: table;
        z-index: 999;
        form {
            display: table-cell;
            vertical-align: middle;
            font-family: $roboto;
            font-weight: 300;
        }
        .my-fields {
            background: none;
            border-bottom: 1px solid !important;
            border: none;
            border-radius: 0;
            text-align: center;
            color: $white !important;
            font-size: 18px;
            margin: 0 auto;
            margin-top: 40px;
        }
        .my-fields::placeholder {
            color: $white;
        }
        .my-fields:focus {
            box-shadow: none;
        }
        .name {
            width: 50%;
        }
        .email {
            width: 65%;
        }
        .subject {
            width: 80%;
            color: $dark-gray !important;
        }
        .comment {
            width: 65%;
            color: $dark-gray !important;
        }
        .send-button {
            background: $dark-gray;
            color: $white;
            font-size: 13px;
            border-radius: 50%;
            font-family: $roboto;
            font-weight: 700;
            height: 70px;
            width: 70px;
            display: inline-block;
            text-transform: uppercase;
            margin: 40px 0 0;
            transition: 1s;
        }
        .send-button:hover {
            background: $white;
            color: $dark-gray;
        }
    }
    .form::after {
        position: absolute;
        content: '';
        top: 18%;
        right: -38%;
        background: rgba(0, 0, 0, 0.69);
        height: 370px;
        width: 370px;
        border-radius: 50%;
    }
    .form::before {
        position: absolute;
        content: '';
        bottom: 25%;
        left: -18%;
        background: rgba(240, 136, 0, 0.75);
        height: 215px;
        width: 215px;
        border-radius: 50%;
    }
    .footer-map {
        background-image: url(../images/google-map.png);
        background-position: center center;
        background-size: cover;
        padding-top: 22rem !important;
        margin-top: -10rem;
    }
    .footer-bottom {
        background: rgba(0, 0, 0, 0.94);
        color: #f7f7f7;
        height: 100%;
        .fas {
            color: #626262;
        }
        p {
            font-family: $roboto;
            color: #626262;
            a {
                color: #626262;
                :hover {
                    color: #626262;
                }
            }
        }
        .social {
            background: #232323;
            li {
                display: inline-block;
                color: #626262;
                font-size: 20px;
                margin: 10px 0 0;
                :hover {
                    border-radius: 50%;
                    background: $ornage;
                    color: $white;
                }
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    width: 40px;
                    color: #626262;
                }
            }
        }
    }
}

@media #{$desktop} {
    #intro {
        .transparent-color {
            height: 650px !important;
            width: 650px !important;
        }
    }
    #marketing {
        .marketing-1 {
            img {
                border-radius: 0 700px 700px 0;
            }
            .over-lay {
                border-radius: 0 700px 700px 0;
            }
        }
        .marketing-2 img {
            border-radius: 700px 0 0 700px;
        }
        .marketing-2 .over-lay {
            border-radius: 700px 0 0 700px;
        }
    }
}

@media #{$ipad} {
    #banner {
        h1 {
            font-size: 28px;
            line-height: 1.5;
        }
    }
    main {
        padding: 50px 0 0;
    }
    #intro {
        .about {
            padding: 50px 0 0;
        }
        .fix-width {
            height: 850px;
            margin: 0 auto;
            clear: both;
            overflow: hidden;
        }
        .transparent-color {
            top: 20%;
        }
        .about-image-2 {
            background: url(../images/about-image-2.png) no-repeat 10% 100% !important;
        }
    }
    footer {
        .form {
            width: 600px !important;
            height: 600px;
        }
        .form::after {
            right: -13%;
            height: 200px;
            width: 200px;
        }
        .form::before {
            height: 160px;
            width: 160px;
            left: -10%;
        }
        .footer-map {
            padding-top: 10rem !important;
        }
    }
}

@media #{$small} {
    main {
        padding: 50px 0 0;
    }
    #intro {
        .about {
            padding: 50px 0 0;
        }
        .introduction {
            span {
                font-size: 32px
            }
            .title {
                font-size: 50px;
            }
        }
        .fix-width {
            display: none;
        }
    }
    #marketing {
        .heading {
            h3 {
                font-size: 52px;
            }
        }
        .marketing-1 {
            img {
                border-radius: 0;
            }
        }
        .over-lay {
            border-radius: 0;
            .detail {
                padding: 0 20px;
            }
            span {
                font-size: 18px;
            }
            h3 {
                font-size: 32px;
            }
            p {
                font-size: 16px;
                margin: 0;
            }
        }
        .marketing-2 {
            .detial {
                padding: 0 20px;
            }
            img {
                border-radius: 0;
            }
            .over-lay {
                border-radius: 0;
            }
        }
    }
    #testimonial {
        .heading {
            span {
                font-size: 32px;
            }
            h3 {
                font-size: 52px;
            }
        }
    }
    #blog {
        .arrow {
            display: none;
        }
        .image {
            max-width: 100%;
            ;
        }
    }
    footer {
        padding: 5rem 0 0;
        .form {
            border-radius: 0;
            width: 100% !important;
        }
        .form:before {
            display: none;
        }
        .form:after {
            display: none;
        }
        .footer-map {
            margin-top: 0;
            .mobile-view {
                display: flex;
                justify-content: center;
                p {
                    width: 100% !important;
                }
            }
        }
        .footer-bottom {
            .social a {
                width: 22px !important;
            }
        }
    }
}